<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Server Migration Preview</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <link rel="icon" href="https://www.microsoft.com/favicon.ico?v2">
</head>

<body>

    <div class="container-fluid">
        



<div class="container text-center">
    <h1 style="color:black;">Thank you for registering.</h1>
    <div class="spacer"></div>
    <p>You may now close this window.</p>
</div>

    

    
    <script src="/bundles/bootstrap?v=2Fz3B0iizV2NnnamQFrx-NbYJNTFeBJ2GM05SilbtQU1"></script>

    
</body>
</html>
